#panadera{
    
    height: 45vh;
    border-radius: 2rem;

    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 1rem;
    float: right;
    
}

h2{
    color: var(--color-primary);
    border-radius: 3rem;
    background-color: var(--color-quinary-light);
    padding: 1rem;
    padding-left: 2.5rem;
}



p{
    text-indent: 2rem;
}


