.contenedor-servicios {
    width: calc(100% - 4 * var(--body-margin));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*.servicios con imagen de fondo https://www.vectorlogo.zone/util/preview.html?image=/logos/mysql/mysql-icon.svg*/

.servicios{

    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: var(--body-margin);
    padding-bottom: calc(var(--body-margin) * 1.5);
    width: 31%;
    background-color: var(--gris-base);
    border: 1px solid var(--gris-borde);
    border-radius: var(--content-border-radius);
    box-shadow: 0px 0px 5px var(--gris-borde);
}

.srv-mysql{
    background-image: url(http://assets.stickpng.com/images/5848104fcef1014c0b5e4950.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.srv-mongo{
    background-image: url(https://img.icons8.com/color/452/mongodb.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.srv-redis{
    background-image: url(http://assets.stickpng.com/images/584830b5cef1014c0b5e4a9c.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

/* Productos */
#productos {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;

    background: var(--color);
}

.producto {
    --productos-linea: 4;

    display: flex;
    flex-direction: column;

    align-items: center;
    
    margin: var(--body-margin);
    background: var(--gris-base);

    width: calc((100vw - 4 * var(--body-margin)) / var(--productos-linea));

    border: 1px solid var(--gris-borde);
    border-radius: var(--content-border-radius);
    box-shadow: 0px 0px 5px var(--gris-borde);
}

.prod-titulo {
    margin: 1rem;
    font-weight: bold;
    font-size: var(--font-size-sub-title);
    text-align: center;
    width: 100%;
}

.producto .imagen {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.producto img {
    max-width: calc(100% - 2 * var(--body-margin));
    border-radius: var(--content-border-radius);
}

.prod-detalles {

    display: flex;

    flex-direction: row;
    margin: var(--body-margin);
    margin-right: 0;
}

.precio {
    font-size: var(--font-size-sub-title);
    font-weight: bold;
    margin-right: var(--body-margin);
}

span {
    text-indent: 0;
}

#comprar-producto {
    width: 100%;
    display: flex;
    justify-content: center;
}