/* servicios, alinear verticalmente cajas con fondo minimalista*/
.servicios{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    width: 31%;
    height: 50%;
    background-color: var(--gris-base);
    border: 1px solid var(--gris-borde);
    border-radius: var(--content-border-radius);
    box-shadow: 0px 0px 5px var(--gris-borde);
}


/* Productos */
#productos {
    display: flex;

    color: var(--color-primary);
    background: var(--color);
}

.producto {
    background: var(--color-quinary-light);
    width: 30rem;
}

.prod-titulo {
    margin: 1rem;
    font-size: var(--font-size-sub-title);
    text-align: center;
    width: 100%;
}
.producto img {
    width: calc(100% - 2 * var(--body-margin));
}

span {
    text-indent: 0;
}