.base {
  width: 70%;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(47, 91, 234, 0.175);
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.base label {
  font-size: 1.2em;
  font-weight: bold;
  color: #6b6b6b;
}

.base li {
  list-style: none;
  margin-bottom: 10px;
}

.imagen {
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 2%;
  margin-bottom: 10px;
}

.otrosmedios {
  width: 100%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

.datos-contacto label {
    margin-right: 1rem;
}

#ubicacion img {
    width: 60vh;

    transition: all 0.5s;
}

#ubicacion img:hover {
    transform: scale(1.05);

    cursor: pointer;
}

.link-btn {
    margin: 4rem;
    transform: translate(0, 2rem);
    color: var(--color-primary);
    background: var(--color-tertiary);
    padding: 1rem;
    text-decoration: none;
}

h1{
    color: var(--color-primary);
    border-radius: 3rem;
    background-color: var(--color-quinary-light);
    padding: 1rem;
    padding-left: 2.5rem;   
}

.button { 
    background-color: var(--color-tertiary);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}

.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}