.footer_area {
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 8px 48px 8px var(--sombra);
    padding: 30px;
    height: 15rem;
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--color-texto);
    margin-bottom: 1.5rem;
}

.footer_area .column {
    float: left;
    width: 20%;
    padding: 10px;
}

.footer_area ol, .footer_area ul {
    margin: 0;
    padding: 0;
}

.footer_area li {
    list-style: none;
    margin-top: 0.6rem;
}