
h1{
    color: var(--color-primary);
    border-radius: 3rem;
    background-color: var(--color-quinary-light);
    padding: 1rem;
    padding-left: 2.5rem;
    text-align:center;
    width: 40rem;
}

.banner{
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url(../../img/equipo.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin-left: 0;
    transform: translate(0, -1rem);
}

.title{
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height:25px;
    font-family: sans-serif;
    text-align: center;
}

span{
    color: var(--color-secondary);
}

p {
    text-indent: 2rem;
}

span{
    color: var(--color-tertiary);
}

h3{
    margin: 0%;
}

h5{
    margin: 0%;
    margin-left: 2rem;
    color: var(--color-quinary-light)
}

hr{
    height: 10px;
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);
}

.orange-text{
    margin-right: 2rem;
    margin-left: 1rem;
    text-align: center;
    font-size: xx-large;
}
.inicio1{
    max-width: 80%;
    height: auto;
    font-size: larger;
    text-align: justify;
    padding: 2rem;
    margin: auto;
}

#contemar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 1 * var(--body-margin));
}

.inicio2{
    max-width: 80%;
    height:auto;
    padding: 2rem;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px 2em;
    text-align: justify;
    font-size: larger;
    display: flex;
}

#personal{
    border-radius: 2rem;
}

.center-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio3{
    max-width: 80%;
    height: auto;
    border-top: 5px solid var(--color-tertiary);
    border-bottom: 5px solid var(--color-tertiary);
    padding: 2rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 2em;
    text-align: justify;
    display: flex;
    font-size: larger;
}

#oficina{
    border-radius: 2rem;
}

