h1{
    color: var(--color-primary);
    border-radius: 3rem;
    background-color: var(--color-quinary-light);
    padding: 1rem;
    padding-left: 2.5rem;
    text-align:center;
    width: 40rem;
    
}

span{
    color: var(--color-secondary);
}

p {
    text-indent: 2rem;
}

#informatico{
    height: 38vh;
    border-radius: 2rem;
    margin-bottom: 2rem;

    float: right;
}

span{
    color: var(--color-tertiary);
}

h3{
    margin: 0%;
}
h5{
    margin: 0%;
    margin-left: 2rem;
    color: var(--color-quinary-light)
}