:root {

    /* Estilo letra */
    --font-family: 'Roboto', sans-serif;
    --font-size-title: 1.6rem;
    --font-size-text: 1.2rem;

    /* Paleta colores */
    --color-primary: #FFFFFF;
    --color-secondary: #FFCA00;
    --color-tertiary: #FF6732;
    --color-quaternary: #00F2FF;
    --color-quinary: #2A2F3D;
    --color-quinary-light: #3c4357;
}